<html>

<body bgcolor="gray">

    <center>

        <img src='static\ccp2.jpg' alt="data_science">

        <h1>  PREDICTION   </h1>
        
    
    {%if data == 0%}
    <b>Customer Will Not Leave</b>  

    {%else%}
    <b>Customer May Leave The Bank</b>

    {%endif%}

    <center>
        

        <h1>  SOLUTION  </h1>
    
    
    

    {%if d2 > 0%}
    <b>Focus on FCR(first call resolution)</b>  

    {%else%}
    <b>Customer is Happy With The Services</b>
    
    
    {%endif%}

    {%if d1 >= 750%}
    <b>  &  We Can Offer Loan To Customer</b>

    {%endif%}

        <br><br>
    <a href='/'>Go Back To Home Page</a>

    </center>

</body>

</html>






